@keyframes anim{
	0%{
		transform: scale(1);
	}
	25%{
		transform: scale(4) rotate(90deg);
	}
	50%{
		transform: scale(1) rotate(180deg);
	}
	75%{
		transform: scale(4) rotate(270deg);
	}
	100%{
		transform: scale(1) rotate(360deg);
	}
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url('http://img0.ndsstatic.com/wallpapers/acf4a0dd78fd2e8cd79d1fe0e0302561_large.jpeg') center no-repeat;
	background-size: 100% 100%;
	margin: 0px;
	overflow: hidden;
	
}

h1{

	width: 20%;
	text-align: center;
	
	border-radius: 30px;
	
	background: linear-gradient(to right, rgba(128,128,128,0.3),  rgba(255,255,255,0.3)); 
	
	box-shadow: 0px 0px 10px #555;
	
	animation: anim 120s infinite cubic-bezier(0.250, 0.250, 0.750, 0.750);
	
	color: white;
	
	text-shadow: 1px 1px #555;
}


